progress {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 2px 2px 1px;
}
